files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDtDCCApwCCQDLkbzjCLigpjANBgkqhkiG9w0BAQsFADCBmzELMAkGA1UEBhMC
      VVMxEDAOBgNVBAgMB0dlb3JnaWExEDAOBgNVBAcMB0F0bGFudGExFTATBgNVBAoM
      DEdvbGRlbiBFYWdsZTEUMBIGA1UECwwLRW5naW5lZXJpbmcxFjAUBgNVBAMMDUJo
      YXNoaXQgQmhhdHQxIzAhBgkqhkiG9w0BCQEWFGJoYXNoaXQyNjRAZ21haWwuY29t
      MB4XDTIwMDUwNzIzMzkyMFoXDTIxMDUwNzIzMzkyMFowgZsxCzAJBgNVBAYTAlVT
      MRAwDgYDVQQIDAdHZW9yZ2lhMRAwDgYDVQQHDAdBdGxhbnRhMRUwEwYDVQQKDAxH
      b2xkZW4gRWFnbGUxFDASBgNVBAsMC0VuZ2luZWVyaW5nMRYwFAYDVQQDDA1CaGFz
      aGl0IEJoYXR0MSMwIQYJKoZIhvcNAQkBFhRiaGFzaGl0MjY0QGdtYWlsLmNvbTCC
      ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOGRhaHSC5e1OmjHLpR8Gj/1
      1BYpoAsEhXlnS/k4afv1F4jOs7D1ysk/TJOXIGX14DnhPAjmUQUIAJZ0uoANDJBS
      wydcrP4QU3/l7zycAwhyn+A7TaFyTZWJO3LQ6JYKSu08aMIW6vSDhNR2agqfeLdj
      XMkTf7THjNfvFbZ23gsViUf4iGsYVcsO5FGQEHse/Do6ScoO6UPUStFW2GON2zPy
      TiXfii6G0b3d2ihd5difRtnQYJRqubScuEGCuGnFk6mxPC+FyLnb9sfSXt3bs/1M
      pkoS4jpSduJ+DhamencwEsyTFJhal+KHqZaqIscbV3nYYtny1Kybf0ooboFkuZcC
      AwEAATANBgkqhkiG9w0BAQsFAAOCAQEAGlARQqcxOHdPF2lAT1Vcjg3l7GNQiJr/
      XK4l+MVexU0VfzE244GN/F3drPPqFUAhaSuRTHAVlBnJiZNCaD0RMcBqI5QoWxOd
      Wi/WaD80gfLDAqXj+ROOBDsgD7KBxhZ5TMgtmp6utSIjH1RcWlICCbR0z6yov/8K
      6K1D9Q9pdkt87/7zlR126cU/uI2yAQQ5aa073xteAnwDaAeKIfRnE0hnrkNJsvvC
      3t3wT8cZ2hbSPfpNlgsKmmvOtTGDJz/t4s2PDyipxl72mDFcWdZJJvMGLaO6X1+w
      EOHZ6axAdubhaCKjYQUP0I3k3NFGJSAUkhcSzdKlKlmvZiU1aSFUWg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA4ZGFodILl7U6aMculHwaP/XUFimgCwSFeWdL+Thp+/UXiM6z
      sPXKyT9Mk5cgZfXgOeE8COZRBQgAlnS6gA0MkFLDJ1ys/hBTf+XvPJwDCHKf4DtN
      oXJNlYk7ctDolgpK7Txowhbq9IOE1HZqCp94t2NcyRN/tMeM1+8VtnbeCxWJR/iI
      axhVyw7kUZAQex78OjpJyg7pQ9RK0VbYY43bM/JOJd+KLobRvd3aKF3l2J9G2dBg
      lGq5tJy4QYK4acWTqbE8L4XIudv2x9Je3duz/UymShLiOlJ24n4OFqZ6dzASzJMU
      mFqX4oeplqoixxtXedhi2fLUrJt/SihugWS5lwIDAQABAoIBAQCrq0mthyMFeYqT
      dYuQvAZqSRf5KgLAf9dpNuFOMc4PUE9x8gY1lkqX8NHBvZGNp5vX0QAUsdxVXOq9
      lubdT5ERQbt+eHy7+wbhXsg9M2rngf0E9X02crxzIvcYgb+ReRHfDUuY80IrhvCP
      lfNMVGPWBgv2iB14IyqgqDe5HywL+BEtq9xhqZoPRw211p5ZnAvjucIAxyImXoQz
      nGDRu+eeaJZ3Uz1ugy2pdv7vA+HMgFWam7O1tifVcHqiM/hf7EhJZ5g53YgzGRfK
      4jWDePrkA9eZa1WZVXH2oeLyyzgKk34FLJryRlDV4uDhexVTVyMe57QJggVS5pNO
      GxN/ovTJAoGBAPOUcQcrmx/FMx6afNPUMQ+b5FBESNgai0UE0xU3TdkNMqKLq3o0
      YfGrHW+T2BNRorKACNzLV1uIZYzbaasJgND02rvyFkdAdyMlHZHUNbiM82zg6HeA
      PDbHwP5DDE9cot6vbZu+uWl2tv8COkMJ0+JEQIBuYophdsYBzZpu0aLrAoGBAO0R
      +C0PWvz0Ll8qcyOaitYc9FPvp2kE3FdsIZqVXh1VB06ZgG/oPQIMRVgbmAisrhH/
      aFqxB62WN9DcZYvDK8IrSLwMUUzHiA1vJ3Y1722eidULzGW5a2DtXJtFepvT137K
      RuPVz0GgW/jdrgVUG/d8Ro2bibn4OKR2EbNmVOEFAoGBAIb7df+BPL/IamHFPvOs
      nVuHCmkozi1j2FXxLICPW0azN6I4QFjCepyQNQnGJnHeRYkhxseEr+57kbsTRGWS
      KJ6jcivBJnNp2BvTz6UmsnaJNcTahjjjCXtaCytcQJAiR+eb0+QBN4KoVRTQSTUp
      VxAGvq/tfBIvnMBx81xnmSjtAoGAaM8e91zojxitP6mWydDTPKIEau9zBfz+JTBL
      EvqiZzlmR5uZqt/zyOn/5loctwkQ1CgkzKOjj1zwREiMJGQe/nMAbxLLBrTYM4hG
      2/4wYjhLG4Nh1D9Ld8i4vnTTJf1cMlPfT28BeDQbNUVcYEK1Mo8g6g4vr6ZL9Hm2
      jafaMrkCgYEAwUA4Uc+bhRCoggbOG/h/94Ln8+cdjB81soxNsKa8OJP087mLgDDK
      SXoZaH9hGj5K01qLMhc0SF6aCbJcIXnafik1lW9tFj3TH1aMIAbJOvkni4/OYZTk
      kmCwmxY15A3Wsu7dSl6A01N99jENMvLqWDRZeUN/1s3U3HktrTKlQFM=
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"