<div style="padding: 13px;">
    <mat-card >
        <mat-card-content>
            {{ticketNumbers}}
        </mat-card-content>
        <mat-card-actions>
            <button (click)="getAllRecords()" mat-raised-button color="primary">Generate Ticket</button>
        </mat-card-actions>
    </mat-card>
    <mat-card style="margin-top:10px;">
        <mat-grid-list cols="3" rowHeight="fit" style="height: 150px;" gutterSize="3px">
            <!-- <mat-grid-tile colspan="1">
                Ticket
            </mat-grid-tile> -->
            <mat-grid-tile colspan="3">
                <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" style="background-color: lightgray">
                    <ng-container matColumnDef="col1">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num1 > 0">{{ element.num1 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col2">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num2 > 0">{{ element.num2 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col3">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num3 > 0">{{ element.num3 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col4">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num4 > 0">{{ element.num4 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col5">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num5 > 0">{{ element.num5 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col6">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num6 > 0">{{ element.num6 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col7">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num7 > 0">{{ element.num7 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col8">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num8 > 0">{{ element.num8 }}</div> </td>
                    </ng-container>
                    <ng-container matColumnDef="col9">
                        <td mat-cell *matCellDef="let element"> <div class="my" *ngIf="element.num9 > 0">{{ element.num9 }}</div> </td>
                    </ng-container>
        
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>           
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>